.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

#home {
    background: url(images/header.jpg);
    background-size: 100% 100%;
    width: 100vw;
    height: 60%;
    padding: 50px;
}

#home_text {
    padding: 100px;
}

h1 {
    font-size: 50px;
}

.cl_white {
    color: white;
}

#about {
    padding: 50px;
}

#services {
    padding: 50px;
}

.member {
    float: left;
    width: 31%;
    margin: 1% 1% 45px 1%;
}

img {
    align-content: center;
    width: 300px;
    transition: opacity 1s ease-in-out;
}

img:hover {
    opacity: .5;
}

.col-text {
    column-count: 3;
}

#name-field {
    border: 2px solid grey;
}

#email-field {
    border: 2px solid grey;
}

#subject-field {
    border: 2px solid grey;
}

#message-field {
    border: 2px solid grey;
}

.form-control::-webkit-input-placeholder {
    color: black;
}


/* WebKit, Blink, Edge */

.form-control:-moz-placeholder {
    color: black;
}


/* Mozilla Firefox 4 to 18 */

.form-control::-moz-placeholder {
    color: black;
}


/* Mozilla Firefox 19+ */

.form-control:-ms-input-placeholder {
    color: black;
}


/* Internet Explorer 10-11 */

.form-control::-ms-input-placeholder {
    color: black;
}